/*
* Julienbenatar.com main.css
*
*/


/* Variables
----------------------------- */

@colorBlack: #1F1F1F;
@colorWhite: #F5F5F5;
@colorHoverBackground: #FF6740;
@mainTransition: ease-in-out 0.2s;

body {
	font-family: 'Open Sans', sans-serif;
	color: @colorBlack;
	background: @colorBlack;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
}

@import "base/padding.less";
@import "base/text.less";

@import "../app/components/indexComponent/background/background.less";
@import "../app/components/indexComponent/menu/menu.less";

/* MAIN CONTAINER
----------------------------- */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container--text {
	max-width: 800px;
	margin: 0 auto;
}

/* CONTENT
----------------------------- */

.content {
	font-size: 21px;
	line-height: 36px;
	padding: 20px 0;
	margin-top: 125px;
	background: @colorWhite;
}
